﻿@model ShopBridge.Models.ViewModels.ProductViewModel

@{ ViewData["Title"] = "Details"; }


<br />
<h2 class="text-info">Details of Product</h2>
<br />
<div class="backgroundWhiteBorder row">
    <div class="col-8">
        <fieldset disabled>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Name" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Description" class="custom-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.Product.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.CategoryId" class="custom-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Category.Name" class="form-control" />
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <img src="@Model.Product.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9;" />
    </div>
    <div class="col-8">
        <div class="col-8 offset-4">
            <partial name="_DetailsAndBackToListButton" model="Model.Product.Id" />
        </div>
    </div>
</div>
@section Scripts{
    <script>tinymce.init({
                selector: 'textarea',
                plugins: "lists",
                toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
                menubar: 'file edit format',
                readonly: 1
            });</script>
    <script>tinymce.init({ selector: 'textarea' });</script>

}
