﻿@model ShopBridge.Models.ViewModels.ProductViewModel
@using ShopBridge.Extensions

@{ ViewData["Title"] = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<h2 class="text-info">Edit Product</h2>
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <input type="hidden" asp-for="Product.Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" />
                </div>
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.Product.Description)
                </div>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" />
                </div>
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Product.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.Product.CategoryId)" class="form-control"></select>
                </div>
            </div>

        </div>
        <div class="col-3 offset-1">
            <img src="@Model.Product.Image" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_EditAndBackToListButton" model="Model.Product.Id" />
            </div>
        </div>


    </div>
</form>

@section Scripts{
    <script>tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });</script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}