﻿@model IEnumerable<Product>


@if (Model.Count() > 0)
{
<div class="col-12 post @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) item-product">
    <div class="row">
        <h3 class="text-success"> @Model.FirstOrDefault().Category.Name </h3>
    </div>

    @foreach (var item in Model)
    {
<div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <img src="@item.Image" width="99%" style="border-radius:5px;border:1px solid #bbb9b9" />
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row pr-3">
                <div class="col-8">
                   
                </div>
                <div class="col-4 text-right" style="color:maroon">
                    <h4>Rs. @item.Price</h4>
                </div>
            </div>
            <div class="row pr-3">
                <div class="col-8">
                  @*  <button class="btn btn-info" style="pointer-events: none; padding:0 3px 0 3px;" type="button" disabled="">@item.SubCategory.Name</button>*@
                </div>
            </div>
            <div class="row col-12 text-justify d-none d-md-block">
                <p>@Html.Raw(item.Description)</p>
            </div>
            <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                <a class="btn btn-success form-control">Buy</a>
            </div>
        </div>
    </div>
</div>}
    <div class="p-4"></div>
</div>}